@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:wght@400;700&family=Libre+Franklin:wght@400;600;700&display=swap');

/* Define font variables */
:root {
  --font-heading: 'Gentium Plus', serif;
  --font-body: 'Libre Franklin', sans-serif;

  --background: white;
  --foreground: black;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-body);
}

/* Light mode fallback */
@media (prefers-color-scheme: light) {
  :root {
    --background: white;
    --foreground: black;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1, h2 {
  font-family: var(--font-heading);
}

h3, h4, h5 {
  font-family: var(--font-body);
}
